body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Ubuntu", Arial, Helvetica;
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Font family for the webpage, gradient dark purple background, and cyan font */
    color: cyan;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
} /* Makes scrollbars appear if the content overflows the viewport */